## 01. Import Libraries

In [55]:
# Import Libraries
import pandas as pd
import numpy as np
import os

## 02. Import Data

In [56]:
#define path
path = r'/Users/piperdutcher/Documents/Achievement 4/04-2024 Instacart Basket Analysis'

In [60]:
# Import Data Set - Ords_Prods_merge
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined_and_merged.pkl'))

In [58]:
# Import Data Set -

## 03. Reading Exercises

In [61]:
# only using the first million rows of dataframe
df = df_ords_prods_merge[:1000000]

In [62]:
# price_label function to label products as either low-,mid-, or high-range profuct based on price
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [68]:
# applying price_label function to dataframe:
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/02/_ydtglj578xfqwjs1hm49rhc0000gn/T/ipykernel_86004/3358158588.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [71]:
# counts of products in each price_range
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [72]:
# check the max price of product in dataframe
df['prices'].max()

14.8

In [137]:
# if-else using loc
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [138]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [139]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [76]:
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [140]:
# run loc method on ENTIRE data frame
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [83]:
df_ords_prods_merge.loc[(df_ords_prods_merge['prices'] <= 15) & (df_ords_prods_merge['prices'] >5),  'price_range_loc'] = 'Mid-range product'

In [84]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [87]:
df_ords_prods_merge['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

In [92]:
#  For Loops practice
for x in range(29,34):
    print("My age is %d" % (x))

My age is 29
My age is 30
My age is 31
My age is 32
My age is 33

In [93]:
df_ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [94]:
# 0 - 7 Days of Week, Starting with 0 = Saturday
# Saturday is busiest day, Wednesday is Slowest

In [95]:
# code for busiest day of week, least busy, and regularly busy
# start with creation of empty list
result = []

In [96]:
# use for-loop
for value in df_ords_prods_merge['orders_day_of_week']:
    if value == 0:
        result.append("Busiest day")
    elif value == 4:
        result.append("Least busy")
    else:
        result.append("Regularly busy")

In [101]:
# create new column in dataframe, then merge
df_ords_prods_merge['busiest_day'] = result

In [102]:
df_ords_prods_merge['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

In [141]:
#rename price_label_loc to price_ranges
df_ords_prods_merge.rename(columns = {'price_range_loc' : 'price_label'}, inplace = True)

## 04. Exercise

In [129]:
# create a new column for busiest days and have it include the TWO busiest/slowest sales days
# busiest days are saturday ('0') and sunday ('1'), slowest are tuesday ('3') and wednesday ('4')

In [126]:
#use a for-loop, define empty list first
days_result = [] 

for num in df_ords_prods_merge['orders_day_of_week']:
    if num == 0:
        days_result.append("Busiest days")
    elif num == 1:
        days_result.append("Busiest days")
    elif num == 3:
        days_result.append("Slowest days")
    elif num == 4:
        days_result.append("Slowest days")
    else:
        days_result.append("Regularly busy")

In [127]:
df_ords_prods_merge['busiest_days'] = days_result

In [128]:
df_ords_prods_merge['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy    12916111
Busiest days      11864412
Slowest days       7624336
Name: count, dtype: int64

In [130]:
# create a new column for busiest hours, using labels "Most orders", "Average orders", "Least orders"
# column name: busiest_period_of_day

In [142]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_label,busiest_day,busiest_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days

In [133]:
# finding highest frequency of orders by hour of day
df_ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [147]:
# busiest hours: 10, 11, 14, 15
# slowest hours: 3, 4, 2, 5
# busiest time period: 10 - 15
# slowest time period: 0 - 5

In [148]:
# for loop: busiest/slowest hours
# new empty list
x_hours = []

for hrs in df_ords_prods_merge['order_hour_of_day']:
    if hrs == 10:
        x_hours.append("Busiest hours")
    elif hrs == 11:
        x_hours.append("Busiest hours")
    elif hrs == 14:
        x_hours.append("Busiest hours")
    elif hrs == 15:
        x_hours.append("Busiest hours")
    elif hrs == 3:
        x_hours.append("Slowest hours")
    elif hrs == 4:
        x_hours.append("Slowest hours")
    elif hrs == 2:
        x_hours.append("Slowest hours")
    elif hrs == 5:
        x_hours.append("Slowest hours")
    else:
        x_hours.append("Regularly busy hours")

#merge new column "busiest_hours" with new list "x_hours"
df_ords_prods_merge['busiest_hours'] = x_hours

In [149]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_label,busiest_day,busiest_days,busiest_hours
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regularly busy hours
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Regularly busy hours
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Regularly busy hours
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Regularly busy hours
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Busiest hours

In [150]:
df_ords_prods_merge['busiest_hours'].value_counts(dropna = False)

busiest_hours
Regularly busy hours    21293820
Busiest hours           10849180
Slowest hours             261859
Name: count, dtype: int64

In [154]:
## for loop, busiest time periods (6 hour consecutive blocks)
# new empty list
x_period = []

#prd = time period

for prd in df_ords_prods_merge['order_hour_of_day']:
    if prd in range(10,15):
        x_period.append("Most orders")
    elif prd in range(0,5):
        x_period.append("Average orders")
    else:
        x_period.append("Fewest orders")

#merge new column "busiest_period_of_day" with new list "x_period"
df_ords_prods_merge['busiest_period_of_day'] = x_period

In [156]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_label,busiest_day,busiest_days,busiest_hours,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regularly busy hours,Fewest orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Regularly busy hours,Fewest orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Regularly busy hours,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Regularly busy hours,Fewest orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Busiest hours,Fewest orders

In [157]:
df_ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Fewest orders     18429970
Most orders       13466522
Average orders      508367
Name: count, dtype: int64

## 05. Export Data

In [158]:
# df_ords_prods_merge to .pkl
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_w_busy_days_times.pkl'))